@import "../styles/variables.scss";

.reporting {
  display: grid;
  grid-gap: $margin-md;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 80px;
  grid-template-areas:
    "line line pie"
    "line line pie"
    "avg fast slow";
}
