@import "../styles/variables";

.layout {
  padding: $padding-md;
  height: 100%;
  display: grid;
  grid-gap: $margin-md;
  grid-template-columns: $sider-width 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sider main";
}
